@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../nuxt.config.ts';

@custom-variant dark (&:is([data-theme="dark"] *));

[data-theme='light'] {
  color-scheme: light only;

  --surface-base: var(--color-white);
  --surface-hover: var(--color-neutral-100);
  --surface-subtle: var(--color-neutral-50);
  --surface-strong: var(--color-neutral-300);

  --primary: var(--color-neutral-950);
  --primary-content: var(--color-white);

  --accent: var(--color-cyan-500);
  --accent-content: var(--color-cyan-700);

  --ring: var(--color-neutral-700);

  --content-base: var(--color-neutral-700);
  --content-muted: var(--color-neutral-400);
  --content-subtle: var(--color-neutral-500);
  --content-strong: var(--color-neutral-900);

  --icon-base: var(--color-neutral-700);
  --icon-subtle: var(--color-neutral-500);

  --border-base: var(--color-neutral-200);
  --border-subtle: var(--color-neutral-100);
  --border-strong: var(--color-neutral-500);
  --border-control: var(--color-neutral-300);

  --destructive: var(--color-red-500);
}

[data-theme='dark'] {
  color-scheme: dark only;

  --surface-base: var(--color-neutral-900);
  --surface-hover: --alpha(var(--color-neutral-800) / 90%);
  --surface-subtle: oklch(0.2261 0.0019 106.55);
  --surface-strong: var(--color-neutral-700);

  --primary: var(--color-neutral-200);
  --primary-content: var(--color-neutral-950);

  --accent: var(--color-cyan-500);
  --accent-content: var(--color-cyan-300);

  --ring: var(--color-neutral-400);

  --content-base: var(--color-neutral-400);
  --content-muted: var(--color-neutral-600);
  --content-subtle: var(--color-neutral-500);
  --content-strong: var(--color-neutral-200);

  --icon-base: var(--color-neutral-300);
  --icon-subtle: var(--color-neutral-500);

  --border-base: var(--color-neutral-800);
  --border-subtle: --alpha(var(--color-neutral-800) / 60%);
  --border-strong: var(--color-neutral-600);
  --border-control: --alpha(var(--color-neutral-500) / 30%);

  --destructive: var(--color-red-400);
}

@theme inline {
  --color-surface-base: var(--surface-base);
  --color-surface-hover: var(--surface-hover);
  --color-surface-subtle: var(--surface-subtle);
  --color-surface-strong: var(--surface-strong);

  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);

  --color-accent: var(--accent);
  --color-accent-content: var(--accent-content);

  --color-ring: var(--ring);

  --color-content-base: var(--content-base);
  --color-content-muted: var(--content-muted);
  --color-content-subtle: var(--content-subtle);
  --color-content-strong: var(--content-strong);

  --color-icon-base: var(--icon-base);
  --color-icon-subtle: var(--icon-subtle);

  --color-border-base: var(--border-base);
  --color-border-subtle: var(--border-subtle);
  --color-border-strong: var(--border-strong);
  --color-border-control: var(--border-control);

  --color-destructive: var(--destructive);
}

@font-face {
  font-family: 'GeistPixelSquare';
  src: url('/fonts/GeistPixel-Square.woff2') format('woff2'); /* v1.8.0 */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.woff2') format('woff2'); /* v1.8.0 */
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@theme {
  --font-sans: 'GeistPixelSquare', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}
